<mat-toolbar color="primary">
    <h1>Hi this is a map</h1>
    <a mat-button>Home</a>
    <a mat-button>About</a>
    <a mat-button>Contact</a>
</mat-toolbar>

<div class="container">
    <div class="left">
        <app-map></app-map>
    </div>
    <div class="right">
        <div class="text-box">
            <h1>Title</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed egestas egestas fringilla phasellus faucibus. Duis tristique sollicitudin nibh sit amet commodo nulla. Tellus in hac habitasse platea dictumst vestibulum rhoncus est pellentesque. Id consectetur purus ut faucibus pulvinar elementum. Tristique senectus et netus et malesuada fames ac turpis egestas. Molestie a iaculis at erat. Morbi tristique senectus et netus et malesuada fames ac. Faucibus pulvinar elementum integer enim neque. Feugiat in fermentum posuere urna nec.
            </p>
            <p>
                Sed risus ultricies tristique nulla aliquet. Neque aliquam vestibulum morbi blandit cursus risus. Mattis aliquam faucibus purus in massa tempor. Gravida dictum fusce ut placerat orci nulla pellentesque. Sed viverra ipsum nunc aliquet bibendum enim. Egestas integer eget aliquet nibh praesent tristique magna. Ornare massa eget egestas purus viverra accumsan in. Id nibh tortor id aliquet lectus proin. Orci nulla pellentesque dignissim enim sit amet. Purus in massa tempor nec feugiat nisl. Mollis nunc sed id semper risus in hendrerit gravida. Sed ullamcorper morbi tincidunt ornare. Vivamus at augue eget arcu dictum varius. Hendrerit dolor magna eget est lorem ipsum. Aliquam faucibus purus in massa tempor nec feugiat. Purus faucibus ornare suspendisse sed nisi. Porta nibh venenatis cras sed. Morbi blandit cursus risus at. Morbi tincidunt ornare massa eget egestas purus viverra accumsan in. Nunc eget lorem dolor sed viverra.
            </p>
            <p>
                In tellus integer feugiat scelerisque varius morbi. Egestas maecenas pharetra convallis posuere morbi leo urna molestie. Quis hendrerit dolor magna eget est lorem ipsum. Vulputate mi sit amet mauris commodo quis imperdiet massa tincidunt. Orci porta non pulvinar neque laoreet suspendisse interdum. Accumsan tortor posuere ac ut consequat. Purus viverra accumsan in nisl nisi scelerisque eu ultrices vitae. Posuere urna nec tincidunt praesent semper feugiat nibh sed pulvinar. Feugiat in fermentum posuere urna nec tincidunt praesent. Bibendum neque egestas congue quisque egestas diam in arcu cursus. Quam vulputate dignissim suspendisse in est. Tristique et egestas quis ipsum suspendisse ultrices gravida dictum fusce.
            </p>
            <p>
                Et egestas quis ipsum suspendisse ultrices gravida. Massa ultricies mi quis hendrerit dolor. Consectetur lorem donec massa sapien faucibus et molestie. Vivamus arcu felis bibendum ut tristique et egestas quis. Tincidunt ornare massa eget egestas purus viverra accumsan. Quam id leo in vitae turpis massa sed elementum tempus. Risus quis varius quam quisque id diam. Eu mi bibendum neque egestas congue quisque. Duis tristique sollicitudin nibh sit amet commodo nulla facilisi. Enim nulla aliquet porttitor lacus. Nisl vel pretium lectus quam id leo in. Diam in arcu cursus euismod quis viverra nibh cras.
            </p>
            <p>
                Bibendum ut tristique et egestas quis ipsum. Nibh cras pulvinar mattis nunc sed blandit libero volutpat sed. Duis convallis convallis tellus id. Aliquam eleifend mi in nulla posuere sollicitudin. Purus sit amet luctus venenatis lectus magna fringilla. Pulvinar pellentesque habitant morbi tristique senectus et. At varius vel pharetra vel turpis nunc eget. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus. Viverra tellus in hac habitasse platea dictumst vestibulum. Enim neque volutpat ac tincidunt vitae semper quis.
            </p>            
        </div>
    </div>
</div>

<router-outlet></router-outlet>
