.container{
    display: flex;
    flex-direction: row;
    .left{
        width: 70%;
    }
    .right{
        margin-left: 15px;
        width: 30%;

        .text-box{
            padding: 2px;
            background-color: white;
            box-shadow: rgb(138, 138, 138) 2px 2px 2px;
        }
    }
}
