.map-container {
    position: relative;
    height: 80vh;
    .map-frame {
        margin: 3px;
        //border: 2px solid black;
        box-shadow: rgb(138, 138, 138) 2px 2px 2px;
        height: 100%;
        #map {
            height: 100%;
          }
      }
  }
  

  

  